@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* HEADER */

.logo {
  color: #ffffff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  box-shadow: none;
}

.navbar .nav-link {
  color: #ffffff;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: #0f0f0f !important;
}

/* FOOTER */
footer {
  color: #ffffff;
}

footer a, p {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

footer a:hover:not(:has(.fa-brands)) {
  color: black !important;
}

footer .fa-solid {
  margin-right: 10px;
}

.fa-brands {
  font-size: 2rem;
  margin-right: 10px;
}

.fa-facebook:hover {color: #3b5998}
.fa-instagram:hover {color: #e1306c}
.fa-telegram:hover {color: #0088cc}
.fa-x-twitter:hover {color: black}
.fa-youtube:hover {color: #ff0033}

/* GENERAL */



/* NOT FOUND */
.not-found-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: -75px;
}

#error * {
  margin: 0;
}

#error p {
  font-size: 6rem;
  line-height: 6rem;
  text-align: center;
    
  color: white;
  background-image: conic-gradient(from var(--angle), red, orange, green, blue, indigo, magenta, purple, red);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-text-stroke: 5px transparent; 
  animation: rotate 5s linear infinite;
  transition: all 0.5s ease-in-out;
}

#error svg {
  width: 75px;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes rotate {
    to {--angle: 360deg}
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#not-found-gif {
  height: auto;
  width: 400px;
  z-index: -1;
}

.not-found-title {
  margin-top: -75px;
}
